@import "./utils/_variables";
@import "./base/_base";
@import "./component/_stars";

$font-montserrat: 'Montserrat', sans-serif;


body {
    font-family: Montserrat, sans serif;
    box-sizing: border-box;
    background: white; 
    font-family: $font-montserrat;
    
  }
 main {
  padding-right: 150px;
  padding-left: 150px;
 }