.wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.accordion {
    width: 80%;
}

.item {
    background-color: rgb(255, 96, 96);
    padding: 10px 20px;
    margin-bottom: 10px;
}

.title {
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}

.content {
    color: black;
    background-color: white;
    max-height: 0;
    overflow: hidden;
    transition: all 0.5s cubic-bezier(0,1,0,1);
}

.content.show {
    max-height: 100px;
    transition: all 0.5s cubic-bezier(0,1,0,1);
}
